<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="./build/vue-html-to-paper.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/kidlat-css/css/kidlat.css">
  <title>Vue Html To Paper - Vue mixin for html elements printing.</title>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">VueHtmlToPaper</a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://github.com/mycure-inc/vue-html-to-paper">GitHub</span></a>
        </li>
      </ul>
    </nav>
    <div class="container">
      <div id="printMe" class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 pt-5">
          <h1 align="center">MYCURE Pets</h1>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Animal</th>
                  <th>Name</th>
                  <th>Power Lvl 0-100</th>
                  <th>Sound</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Cate</td>
                  <td>Kidlat</td>
                  <td>97</td>
                  <td>Miiiiiiiiiyaaaaw!!!</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>Cure</td>
                  <td>80</td>
                  <td>Nggggggggggggrraw!!!</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>Pickle</td>
                  <td>79</td>
                  <td>Aaaaaaw!!! *high pitch*</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>V3</td>
                  <td>90</td>
                  <td>Raaaaw!!! *high pitch*</td>
                </tr>
                <tr>
                  <td>Doge</td>
                  <td>V4</td>
                  <td>40</td>
                  <td>Raaaaw!!! *high pitch x3*</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-2">
            <h5>Input Text:</h5>
            <input type="text" v-model="inputText">
          </div>
          <div class="mb-2">
            <h5>Input Checkbox:</h5>
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
          </div>
          <div class="mb-2">
            <h5>Input Radio:</h5>
            <br>
            <input type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <input type="radio" id="disabled" value="Disabled" v-model="picked" :disabled="disabled">
            <label for="disabled">Disabled</label>
            <button @click="disabled = !disabled">change Disabled</button>
            <br>
            <span>Picked: {{ picked }}</span>
          </div>
          <div class="mb-2">
            <h5>Select:</h5>
            <select v-model="selected">
              <option v-for="option in options" v-bind:value="option.value">
                {{ option.text }}
              </option>
            </select>
            <span>Selected: {{ selected }}</span>
          </div>
          <div class="mb-2">
            <h5>Custom test TextArea:</h5>
            <span>Multiline message is:</span>
            <p style="white-space: pre-line;">{{ message }}</p>
            <textarea v-model="message" placeholder="add multiple lines"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>Default Global Options</h4>
          <pre>{{globalOptions}}</pre>
          <button class="btn btn-outline-primary" @click="print">PRINT PORTRAIT</button>
        </div>
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>With Custom CSS</h4>
          <p>With custom local css to override the global options. This will print the table on landscape mode.</p>
          <pre>{{localLandScapeOptions}}</pre>
          <button class="btn btn-outline-primary" @click="printLandscape">PRINT LANDSCAPE</button>
        </div>
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>Remove styles</h4>
          <button class="btn btn-outline-primary" @click="printNoStyles">PRINT NO STYLES</button>
        </div>
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>Turn off automatic closing after print</h4>
          <button class="btn btn-outline-primary" @click="printAutoCloseOff">PRINT AUTO CLOSE OFF</button>
        </div>
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>Custom window title</h4>
          <p>For customizing the file name.</p>
          <button class="btn btn-outline-primary" @click="printCustomWindowTitle">PRINT CUSTOM WINDOW TITLE</button>
        </div>
        <div class="col-xs-12 col-md-10 offset-md-1 mb-5">
          <h4>Callback</h4>
          <button class="btn btn-outline-primary" @click="printCallback">PRINT CALLBACK</button>
        </div>
      </div>
    </div>
  </div>
  <script>
    const options = {
      name: '_blank',
      specs: [
        'fullscreen=yes',
        'titlebar=yes',
        'scrollbars=yes'
      ],
      styles: [
        'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
        'https://unpkg.com/kidlat-css/css/kidlat.css'
      ],
      customerReserveHandler: [
        function(win, element) {
          console.log('Customer function is work.')
        }
      ]
    };

    Vue.use(VueHtmlToPaper, options);

    var vm = new Vue({
      el: '#app',
      data () {
        return {
          globalOptions: {
            name: '_blank',
            specs: [
              'fullscreen=yes',
              'titlebar=yes',
              'scrollbars=yes'
            ],
            styles: [
              'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
              'https://unpkg.com/kidlat-css/css/kidlat.css'
            ],
            timeout: 1000,
            autoClose: true,
            windowTitle: window.document.title, // whatever's the window title of the opener
          },
          localLandScapeOptions: {
            styles: [
              'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
              'https://unpkg.com/kidlat-css/css/kidlat.css',
              'public/landscape.css', // must be the path of your public folder
            ]
          },
          inputText: '',
          picked: '',
          checkedNames: [],
          selected: 'A',
          options: [
            { text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' }
          ],
          message: '',
          disabled: false
        }
      },
      methods: {
        async print () {
          await vm.$htmlToPaper('printMe');
          console.warn('done');
        },
        async printLandscape () {
          const localOptions = {
            styles: [
              'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css',
              'https://unpkg.com/kidlat-css/css/kidlat.css',
              './landscape.css'
            ]
          };
          await vm.$htmlToPaper('printMe', localOptions);
          console.warn('done landscape');
        },
        async printNoStyles () {
          const localOptions = {
            styles: []
          };
          await vm.$htmlToPaper('printMe', localOptions);
          console.warn('done no styles');
        },
        async printAutoCloseOff () {
          const localOptions = {
            autoClose: false,
          };
          await vm.$htmlToPaper('printMe', localOptions);
          console.warn('done');
        },
        async printCustomWindowTitle () {
          const localOptions = {
            windowTitle: 'This is custom window title',
          };
          await vm.$htmlToPaper('printMe', localOptions);
          console.warn('done');
        },
        printCallback () {
          vm.$htmlToPaper('printMe', null, () => {
            console.warn('done callback');
          });
        },
      },
    });
  </script>
</body>
</html>